body{
background:#0f0f0f;
color:white;
font-family:Roboto,Arial, sans-serif;
margin:0;
}

/* CHANNEL */

.channel-info{
margin-top:20px;
}

.channel-header{
display:flex;
gap:15px;
align-items:flex-start;
}

#channel-logo{
width:60px;
height:60px;
border-radius:50%;
}

.channel-main{
flex:1;
}

.channel-title-row{
display:flex;
align-items:center;
gap:15px;
}

.channel-title-row h2{
font-size:20px;
margin:0;
}

.subscribe-btn{
background:#cc0000;
color:white;
border:none;
padding:8px 16px;
border-radius:20px;
cursor:pointer;
font-weight:500;
}

.subscribe-btn:hover{
background:#e60000;
}

#subscriber-count{
color:#aaa;
font-size:13px;
margin-top:3px;
}

/* SOCIAL */

.channel-links{
display:flex;
gap:8px;
margin-top:8px;
}

.social-btn{
background:#222;
width:32px;
height:32px;
display:flex;
align-items:center;
justify-content:center;
border-radius:50%;
color:white;
text-decoration:none;
}

.sawer-btn{
background:white;
color:black;
border:none;
padding:6px 14px;
border-radius:20px;
font-size:12px;
cursor:pointer;
}

/* DESC */

.channel-desc{
margin-top:10px;
max-height:45px;
overflow:hidden;
}

#more-btn{
display:block;
margin-top:5px;
color:#3ea6ff;
cursor:pointer;
font-size:13px;
}

/* YOUTUBE FONT STYLE */

h3{
font-weight:500;
}
